<div>
	<h1>Inventory</h1>
	<div class="inv">
		<div class="item-element">
			<div class="item-info-wrap">
				<img src="" class="item-thumb">
				<div class="item-info"> 
					<div class="item-name">Ol Iron sides</div>
					<div> Boat </div>
				</div>
				<div class="item-stats">
					<div>ATK: 17 </div>
					<div>Lck: -3 </div>
					<div>Depth: 30m </div>
				</div>
			</div>
			<div class="item-trinkets">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
			</div>		
		</div>
		<div class="item-element">
			<div class="item-info-wrap">
				<img src="" class="item-thumb">
				<div class="item-info"> 
					<div class="item-name">BaeBambo</div>
					<div> Rod </div>
				</div>
				<div class="item-stats">
					<div>ATK: 10 </div>
				</div>
			</div>
			<div class="item-trinkets">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
			</div>		
		</div>
		<div class="item-element">
			<div class="item-info-wrap">
				<img src="" class="item-thumb">
				<div class="item-info"> 
					<div class="item-name">StarBoxedL</div>
					<div> Bait </div>
				</div>
				<div class="item-stats">
					<div>LCK: 12 </div>
				</div>
			</div>
			<div class="item-trinkets">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
				<img src="" class="trinket-thumb">
			</div>		
		</div>
		<div class="item-element">
			<div class="item-info-wrap">
				<img src="" class="item-thumb">
				<div class="item-info"> 
					<div class="item-name">Iron*</div>
					<div> Hook </div>
				</div>
				<div class="item-stats">
					<div>Depth: 30 </div>
				</div>
			</div>
			<div class="item-trinkets">
				<img src="" class="trinket-thumb">
			</div>		
		</div>
	</div>
</div>