body {
	margin: 0;
}

.taco-wrap {
	background-color: blue;
	display:flex;
	min-height: 100vh;
  	flex: 1;
}

.fish-it {
	background-color: grey;
	min-height: 100vh;
	min-width: 25vw;
}

.match-it {
	background-color: tan;
	min-height: 100vh;
	min-width: 75vw;
}