body {
	margin: 0;
}

.taco-wrap {
	background-color: grey;
	display:flex;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
  	flex: 1;
}

.fish-it {
	background-color: grey;
	min-height: 100vh;
	min-width: 25vw;
    max-width: 25vw;
    padding-top: 10vh;
  	
}

.level {
	min-height: 30vh;
	display: flex;
  	flex-direction: column-reverse;
    background: white;
}
h1 {
	text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.menu {
	display:flex;
	//min-height: 20vh;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	.menu-item {
		min-width: 10vw;
		padding: 5px;
		margin-top:10px;
    	font-size: 1.8em;
	    border: 3px solid black;
	}	
}

.endurance {
	width:100%;
	background-color: red;
	height:.6em;
	.current-endurance {
		width: 85%;
		height:100%;
		background-color: green;
	}
}

.match-it {
	background-color: tan;
	min-height: 100vh;
	min-width: 75vw;
	max-width: 75vw;
    overflow: hidden;
}
main{
    display: flex;    
    justify-content: center;
    }

#mThree, ng-view {
	min-height: 80vh;
    margin-top: 10vh;
    cursor: pointer;
}
.item-element {
    border: .25em solid #898989;
    padding: .5em;
    margin-right: 1em;
    margin-bottom: -.25em;
    max-height: 8em;
}
.item-info-wrap {
	display: flex; 
    align-content: space-around;
    position: relative;
}
.item-thumb {
    height: 5em;
    min-height: 5em;
    min-width: 5em;
    background: rgba(176, 176, 176, 0.78);
}
.item-stats, .item-info {
	margin: auto;
    margin-left: 1em;
}
.item-name {
	font-size: 1.5em;
	margin: auto;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trinket-thumb {
	width: 2em;
	height: 2em;
	background: grey;
	border: 1px solid black; 
	margin-right: 1em;
}
.item-description {
	max-height: 2.2em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-trinkets {
	display: flex; 
    align-content: space-between;
    margin-top: 10px;
    min-height: 2em;
    background: rgba(255, 255, 255, 0.32);
}
.trinket-thumb:first-child {
	margin-left: 0;
}
/*desktop! D:*/
.inv-inuse {
	min-width: 20vw;
    max-width: 20vw;

}
.inv-inuse .item-stats {
	margin: 0;
    text-align: right;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.inv{
	min-width: 50vw;
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.inv .item-thumb {
    height: 6em;
    min-height: 6em;
    min-width: 6em;
    background: rgba(176, 176, 176, 0.78);
}

.inv .item-name {
	text-align: center;
}
.inv .item-element {
    min-width: 9vw;
    max-width: 9vw;
}

[ng-controller='invController']{
	display: flex; 
    align-content: space-around;
}

.views {
	padding-top: 4vh;
}