<!DOCTYPE html>
<html lang="en" ng-app="tacoFish" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="TacoFish">
  <title>TacoFish</title>
</head>

<body ondragstart="return false;" id="app" style="display:none" onload="document.getElementById('app').style.display='block';"> <!-- oncontextmenu="return false;" -->
	
	<div class="taco-wrap" ng-controller="fishDebug as ctrl">	  
	  <nav class="fish-it ng-hide" ng-show="true">
	  	<a href="#/">
	  	<div class="level">
	  		
	  			<img src="img/boat.png" />
	  		
	  	</div>
	  	</a>
	  	<div class="endurance">
	  		<div class="current-endurance"> </div>
	  	</div>
	  	<h1>Location Name</h1>
	  	<div class="menu">
	  		<a href="#/inventory"><button class="menu-item">Items</button></a>
	  		<a href="#/travel"><button class="menu-item">Travel</button></a>
	  		<a href="#/fish"><button class="menu-item">Fish</button></a>
	  		<a href="#/shop"><button class="menu-item">Shop</button></a>
	  	</div>
	  	<div class="traps">
	  	</div>
	  	<h1>HP: {{ctrl.fishHp()}}</h1>
	  	<div style="padding: 1em">
	  		<div ng-repeat="(key, value) in ctrl.stats"><b>{{key}}</b>: {{value}}</div>
	  	</div>
	  	{{bSystem | json}}
	  	<pre >
	  		{{fish | json}}
	  	</pre>
	  		{{ctrl | json}}
  		<div>
  			<button ng-click="ctrl.clean()"> Soft reset </button>
  			<button onclick="localStorage.clear(); location.reload();"> Nuke save </button>
		</div>
	  </nav>
	  <main class="match-it ng-hide" ng-show="true">
	  	<div>
	  		<canvas id="mThree" ng-show="ctrl.showCanvas"></canvas>
	  		<div ng-view class="views">Menues</div>
	  	</div>
	  </main>
	  <div class="error-page" ng-class="{hidden: true}"> 
	  	<h1> I'm sorry, there seems to be some issues </h1>
	  	<div style="width:100%; height:100%">
	  	<button 
	  		style="margin: 0 auto;width: 40%;height: 10%;margin-left: 30%;font-size:4em" 
	  		onclick="localStorage.clear(); location.reload();"> 
	  		Nuke Save 
	  	</button>
	  </div>
	  </div>
	</div>
	<script src="client.min.js"></script>
</body>

</html>
